// Body

// Brand Colore
$brand_blue :#3da9ff ;
$brand_green :#68ca39 ;
// Typography
$title_color:#1c2354 ;
$text_color: #abafbc ;
$text_brand_blue: red;
$text_brand_green: red ;
// Padding
$default_padding : 20px;