// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import 'bootstrap/bootstrap';x


//Inputs nad inputs containers

.form-group {
  &.error {
    input[type=text] {
      border-color: red !important;
    }

    &:before {
      color: red;
    }
  }
}

.input-hours {

  position: relative;

  input {
    padding-left: 40px !important;
  }

  &:before {
    content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 30px;
    color: $brand_green;
  }
  &.input-hours-error {

    color: red !important;
    border-color: red;
  }
}

input {
  &.input-text-normal {

    width: 100%;
    height: 40px;
    border: 1px solid #d4d7df;
    border-radius: 5px;
    padding: 0px 20px;
    color: #9BA0B9;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #dbdce6;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #dbdce6;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #dbdce6;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #dbdce6;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #dbdce6;
    }
  }

  &.input-text-outline {
    width: 100%;
    height: 40px;
    border: 1px solid $brand_green;
    border-radius: 5px;
    padding: 0px 20px;
    color: #9BA0B9;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $brand_green;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $brand_green;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $brand_green;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $brand_green;
    }
  }
}
.error{
  .input-text-outline {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: red;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: red;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: red;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: red;
    }
  }
}

//End of inputs

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #9BA0B9;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #9BA0B9;
  border-radius: 15px;
  margin-right: 10px;

  &.done {
    background-color: $brand_blue;
    border: none;

    &:after {
      border: 1px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 5px;
      position: absolute;
      top: 6px;
      transform: rotate(-45deg);
      width: 10px;
    }
  }
}


/* Create the checkmark/indicator (hidden when not checked) */


//.checkmark:after {
//  display: block;
//}

.content-box {

  border: 1px solid rgba(239, 239, 239, 1);
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
  box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
  padding-bottom: 20px;

  .errorTxt {
    border: 1px solid #dcc9ce;
    color: red;
    padding: 10px;
    display: none;
    background: #f1dbe0;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
    box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
  }
  .content-box-title {
    padding-bottom: 20px;
    overflow: hidden;
    padding-top: 20px;

  }
  .title {
    font-weight: bold;
    font-size: 24px;
    color: $title_color;
  }
  .hour-count {

    font-weight: bold;
    color: #3e4974;
  }
  .hour-count span.fa {

    margin-left: 10px;
    color: $brand_green;
  }

  .button {

    border: none;
    outline: none;
    background: $brand_blue;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;

    &:hover {

      background: #3899e6;
      cursor: pointer;
      text-decoration: none;

    }
  }
}
.button-outline {

  border: none;
  outline: none;
  background: transparent;
  color: $brand_blue;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid $brand_blue;
  font-weight: bold;
  &:hover {

    background: $brand_blue;
    cursor: pointer;
    color: #fff;
    text-decoration: none;

  }
}
.hours-count {
  color: #b3b7c8;
}

.task-info{
  position: relative;
}

.task-title-row{
  padding-left:20px;
  color:$text_color;
}

.add-task-error {
  display: block !important;
  margin: 10px 0px;
  border: 1px solid #dcc9ce;
  color: red;
  padding: 10px;
  display: none;
  background: #f1dbe0;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
  box-shadow: 0px 0px 4px 1px rgba(239, 239, 239, 1);
}


