body {

  background: rgb(249 249 249);
  padding: 50px 0px;
}


.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#9BA0B9;
  
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #9BA0B9;

  border-radius: 15px;
}

/* On mouse-over, add a grey background color */
/*.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}*/

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #3da9ff;
    border: none;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {

  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 10px;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
opacity: 1;
}

.content-box {

  border: 1px solid rgba(239,239,239,1);
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(239,239,239,1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(239,239,239,1);
  box-shadow: 0px 0px 4px 1px rgba(239,239,239,1);
  padding-bottom: 20px;

}

.errorTxt{
  border: 1px solid rgb(220 201 206);
  color:red;
padding: 10px;
display: none;
background: rgb(241 219 224);
margin-bottom: 10px;
  /*min-height: 20px;*/
}

.content-box-title{
  padding-bottom: 20px;
  overflow: hidden;
    padding-top: 20px;
}

.title{
  font-weight: bold;
  font-size: 24px;
}

.hour-count {

  font-weight: bold;
  color:#3e4974;
}

.hour-count  span.fa{

  margin-left: 10px;
  color: #68ca39;
}

.button {

  border: none;
  outline: none;
  background: #3da9ff;
  color:#fff;
  padding: 10px 25px;
  border-radius: 5px;
}

.button:hover {

  background: #3899e6;
  cursor: pointer;
    text-decoration: none;


}

.button-outline{


  border: none;
  outline: none;
  background: transparent;
  color:#3da9ff;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #3da9ff;
  font-weight: bold;

}

.button-outline:hover {

  background: #3da9ff;
  cursor: pointer;
  color:#fff;
  text-decoration: none;

}

.form-group.error input[type=text] {
  border-color: red !important;
}

.input-hours{
  position: relative;
}

.form-group.error:before {

  color:red;
}



.input-hours:before {
    content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 30px;
    color:#68ca39;
}



.input-text-normal {

  width: 100%;
  height: 40px;
  border: 1px solid #d4d7df;
  border-radius:5px;
  padding: 0px 20px;
  color: #9BA0B9;
}

.input-text-outline {

  width: 100%;
  height: 40px;
  border: 1px solid #68ca39;
  border-radius:5px;
  padding: 0px 20px;
  color: #9BA0B9;

}

.input-hours input {
  padding-left: 40px;

}

.input-text-normal::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dbdce6;
}
.input-text-normal::-moz-placeholder { /* Firefox 19+ */
  color: #dbdce6;
}
.input-text-normal:-ms-input-placeholder { /* IE 10+ */
  color: #dbdce6;
}
.input-text-normal:-moz-placeholder { /* Firefox 18- */
  color: #dbdce6;
}

.input-hours-error {

  color: red !important;
  border-color:red;
}

.input-text-outline::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #68ca39;
}
.input-text-outline::-moz-placeholder { /* Firefox 19+ */
  color: #68ca39;
}
.input-text-outline:-ms-input-placeholder { /* IE 10+ */
  color: #68ca39;
}
.input-text-outline:-moz-placeholder { /* Firefox 18- */
  color: #68ca39;
}

.hours-count{

  color: #b3b7c8;
/*  padding: 5px 0px; */
}
